apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: deposition-demo
  region: us-east-1
  version: "1.30"

iam:
  withOIDC: true

managedNodeGroups:
  - name: system-ng
    instanceType: m6i.large
    minSize: 2
    maxSize: 6
    desiredCapacity: 2
    volumeSize: 100
    privateNetworking: true

  - name: gpu-ng
    instanceType: g5.2xlarge
    minSize: 1
    maxSize: 4
    desiredCapacity: 1
    volumeSize: 200
    amiFamily: AmazonLinux2
    privateNetworking: true
    labels:
      accelerator: nvidia
    taints:
      - key: nvidia.com/gpu
        value: "true"
        effect: NoSchedule

addons:
  - name: vpc-cni
  - name: kube-proxy
  - name: coredns
